

.DrawioEditorIframe {
  border: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.DrawioEditorOverlay {
  background-color: rgba(1, 1, 1, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.DrawioEditorInfoBox {
  border: 2px dotted black;
  text-align:center;
  margin: 5px 0px 20px 0px;
  padding:5px;
}

.DrawioEditorFieldTest {
  background-color: rgba(1, 1, 1, 0.1);
  max-width: 60em;
}

/*New css for showing input text error start*/

.DrawioEditorFieldInput {
  max-width: 60em;
}

.oo-ui-messageWidget > .oo-ui-labelElement-label {
  margin-left:0 !important;
}

.oo-ui-fieldLayout-messages > .oo-ui-messageWidget {
  margin-left:0 !important;
  margin-right:0 !important;
}

.oo-ui-fieldLayout-messages > .oo-ui-messageWidget:first-child {
  margin-top:0 !important;
}

.oo-ui-messageWidget {
  position:static !important;
}

.oo-ui-image-error {
  margin-top:20px !important;
}

/*New css for showing input text error end*/